{% extends 'Base.html' %}
{% block Body %}
<h3 class="text-center">Home Page</h3>
<a href="{{url_for('Profile',user_Id=session['UserId'])}}" class="btn btn-primary"> View My Profile</a>
<a href="{{url_for('Logout')}}" class="btn btn-danger float-right">Logout</a>
</br>
<h3>Ask Question </h3>
<div class="container">
    <form action="/Home" method="POST">
        <label for="text">Ask your question:</label>
        <br>
        <textarea rows="5" cols="60" name="q_text" placeholder="Enter text"></textarea>
        <br/>
        <input type="checkbox" id="anonymous" name="anonymous" value="1">
        <label for="anonymous"> I want to ask anonymously </label><br>
        <input type="submit" value="Ask Question"/>
    </form>
</div>
<h3 class="text-centre">Questions</h3>
<div class="container">
{% for Question in Questions %}
    <div class="border bg-dark text-white">
        {% if Question[3] == 1 %}
            <p>user: Ananymous<p>
        {% else %}
            <p><a href="/profile/{{Question[1]}}" class="btn btn-info">{{get_Name(Question[1])}}</a></p>         
        {% endif %}
        <p>{{Question[2]}}</p>
        <p>{{Question[4][:10]}}</p>
        <p><a href="/Question/{{Question[0]}}">View Question</a></p>
    </div>
{% endfor %}
</div>
{% endblock Body%}
