{% extends 'Base.html' %}
{%block Body%}
<h3 class="text-center">Login or Sign Up to use Mini Quora</h3>
</br></br>
<div class="container">
<div class="row">
    <div class="col-4 border bg-dark text-white">
        <h3> Login </h3></br>
        <div class="container">
            <form action="/Login" method="Post">
                <p> User name </p>
                <input type="Text" name="Uname" class="form-control"></br>
                <p> Password </p>
                <input type="Password" name="Password" class=form-control></br>
                <input type="submit" Value="Login" class="btn btn-primary float-right">
            </form>
        </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4 border rounded bg-dark text-white">
        <h3>Sign up</h3>
        <div class="container">
            <form action="/Signup" method="POST">
                <p> User name </p>
                <input type="TEXT" name="Uname" class="form-control"> <br>
                <p> Enter Password </p>
                <input type="Password" name="Password" class="form-control"></br>
                <p> Enter Email </p>
                <input type="Text" name="Email" class="form-control"> </br>
                <input type="submit" Value="Sign Up" class="btn btn-primary float-right">
            </form>
        </div>
    </div>
</div>
</div>
{%endblock%}
