{% extends "Base.html" %}
{% block Body %}
<a href="{{url_for('Home')}}" class="btn btn-danger float-right">Go Back To Home</a>
<div class="border bg-dark text-white">
    {% if Answer['Ques'][3] == 1 %}
        <p>user: Ananymous<p>
    {% else %}
        <p>User: {{Answer['Ques'][1]}}</p>         
    {% endif %}
    <p>{{Answer['Ques'][2]}}</p>
    <p>{{Answer['Ques'][4]}}</p>
</div>
<h3>Answer Question</h3>
<div class="container">
    <form action="/Answer/{{Answer['Ques'][0]}}" method="POST">
        <label for="A_text2">Answer the question:</label>
        <br>
        <textarea rows="5" cols="60" name="A_text" placeholder="Enter text"></textarea>
        <br/>
        <input type="file" value="Add file to support your Answer">
        <input type="submit" value="Answer Question"/>
    </form>
</div>
<h3> The answers </h3>
<div class="container">
{% for Ans in Answer['Ans'] %}
    <div class="border bg-dark text-white">
        <p>User: {{Ans[2]}}</p>
        <p>{{Ans[3]}}</p>
        <p>{{Ans[6]}}</p>
        <p><a href="/Question/UpVotes" class="btn btn-success float-right">Up   : {{Ans[4]}}</a></p>
        <p><a href="/Question/DownVotes" class="btn btn-danger float-right">Down : {{Ans[5]}}</a><p>
    </div>
{% endfor %}
</div>
{% endblock Body %}