{% extends 'Base.html' %}
{% block Body %}
<h3 class="text-center">Profile page<h3>

<table>
  <thead>
    <tr>
        <th>Answer ID</th>
        <th>Question ID</th>>
        <th>Answer by you</th>
        <th>Upvotes</th>
        <th>Downvotes</th>
        <th>Date</th>
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock%}
